<loader load="$ctrl.isLoading"></loader>
<div class="row">
    <div class="col mb-2">
        <input placeholder="Поиск..." class="form-control" ng-model="$ctrl.query" ng-model-options="{debounce:500}">
    </div>
</div>
<div class="row" ng-if="$ctrl.isAdmin">
    <div class="col mb-2">
        <button class="btn btn-secondary" ui-sref="bookNew">Добавить</button>
    </div>
</div>
<div class="row">
    <div class="col-6 col-sm-4" ng-repeat="book in $ctrl.filteredBooks()">
        <div class="card">
            <div class="card-header">
                <b>{{book.title}}</b>
            </div>
            <div class="card-body">
                <div ng-if="book.image" class="img" style="background-image: url({{book.image}})"></div>
                <div ng-if="!book.image" class="no-img img"></div>
                <div><label>Автор:</label>&nbsp;<span ng-repeat="author in book.authors">{{author.name}} {{author.last_name}}{{!$last?',':''}}</span>
                </div>
                <div><label>Количество страниц:</label>&nbsp;{{book.pages}}шт.</div>
                <div ng-if="book.publisher"><label>Название издательства:</label>&nbsp;{{book.publisher}}</div>
                <div ng-if="book.publish_year"><label>Год публикации:</label>&nbsp;{{book.publish_year}}</div>
                <div ng-if="book.year"><label>Дата выхода в тираж:</label>&nbsp;{{book.date | date:'dd.MM.yyyy'}}</div>
                <div ng-if="book.isbn"><label>ISBN:</label>&nbsp;{{book.isbn}}</div>
            </div>
            <div ng-if="$ctrl.isAdmin" class="card-footer text-center">
                <div class="btn-group btn-group-sm">
                <a ui-sref="bookEdit({id:book.id})" class="btn btn-warning">Изменить</a>
                <button ng-click="$ctrl.remove(book)" class="btn btn-danger">Удалить</button>
                </div>
            </div>
        </div>
    </div>
</div>