<loader load="$ctrl.isLoading"></loader>
<div class="row">
    <div class="col mb-2">
        <input placeholder="Поиск..." class="form-control" ng-model="$ctrl.query" ng-model-options="{debounce:500}">
    </div>
</div>
<div class="row" ng-if="$ctrl.isAdmin">
    <div class="col mb-2">
        <button class="btn btn-secondary" ui-sref="bookNew">Добавить</button>
    </div>
</div>
<div class="row">
    <div class="col-6 col-sm-4 col-md-3 col-lg-2" ng-repeat="book in $ctrl.filteredBooks()">
        <div class="card">
            <div class="card-header">
                <h4>{{book.title}}</h4>
            </div>
            <div class="card-body">

            </div>
        </div>
    </div>
</div>