@import "./font";

$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;
$font-family-base: 'MuseoSans';
$font-weight-base: 300;
$secondary: #ed2939;
$primary: #016b52;
$progress-font-size: 1rem;

$container-max-widths: (
        sm: 100%,
        md: 720px,
        lg: 720px,
        xl: 720px
) !default;

@import "~bootstrap/scss/bootstrap";
@import "~ui-select/dist/select.css";

.btn-default{
  @extend .btn-light;
}

b, strong {
  font-weight: 900;
}

.btn {
  font-weight: 500;
  text-transform: uppercase;
}

.btn-light {
  color: $primary;
  &:hover, &:focus, &:active {
    color: $primary !important;
  }
}

.ng-invalid {
  @extend .is-invalid;
  background-image: none !important;
  padding-right: 0.75rem !important;
}

image-input {
  .custom-file-label::after {
    display: none;
  }
}

.ui-select-container.open {
  .dropdown-menu {
    display: block !important;
  }
}

.ui-select-multiple.ui-select-bootstrap .ui-select-match .close{
  color: $secondary;
}

.ui-select-highlight {
  font-weight: 900;
}

button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: none;
}