@import "./font";

$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;
$font-family-base: 'MuseoSans';
$font-weight-base: 300;
$secondary: #ed2939;
$primary: #016b52;
$progress-font-size: 1rem;

$container-max-widths: (
        sm: 100%,
        md: 720px,
        lg: 720px,
        xl: 720px
) !default;

@import "~bootstrap/scss/bootstrap";

b,strong{
  font-weight: 900;
}

.btn {
  font-weight: 500;
  text-transform: uppercase;
}

.ng-invalid{
  @extend .is-invalid;
  background-image:none!important;
  padding-right:0.75rem!important;
}